
.gallery {
    margin: 24px 156px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    width: 1128px;
}
.gallery-item {
    margin-bottom: 0;
    width: 360px;
    height: 200px;
}
.gallery-image {
    margin: 0;
    width: 360px;
    height: 200px;
}
.gallery-wrapper {
    background-color: #2E2F42;
    color: #FFF;
}
.gallery-wrapper .sl-close,
.gallery-wrapper .sl-counter,
.gallery-wrapper .sl-navigation button
 {
    color: #FFF;
}